<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="flex-page">
      <% include ../partials/nav.ejs %>
      <div class="flex-center-background" style="background: <%= color.value %>;">
        <div class="form-wrapper">
          <a
            class="back-btn"
            href="/projects/<%= projectId %>"
          >
            <i class="fas fa-arrow-left"></i> Go Back
          </a>
          <div class="form-container">
            <div class="color-sample" style="background: <%= color.value %>;">
            </div>
            <h3><%= color.name %></h3>
            <input id="color-value" type="text" value="<%= color.value %>">
            <div class="btn-group submit">
              <a
                class="btn btn-black"
                href="/projects/<%= projectId %>/colors/<%= color.id %>/edit"
              >
                Edit
              </a>
              <form
                action="/projects/<%= projectId %>/colors/<%= color.id %>?_method=DELETE"
                method="POST"
              >
                <input class="btn btn-red" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
